---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">认识我</div>
  </div>

  <div class="mb-10 text-justify">
    01年出生的普普通通的人，在社会受气，受打击的地方苟且存活，这是他在期间创造个人围脖，本站由AChengLinux独立运营
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">个人规划</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="生存"
      subtitle="努力活下去"
    />
    <TimeLineElement
      title="买车"
      subtitle="问界M7"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">目前的计划</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="考驾照"
      subtitle="From [佛山] "
    >
    驾照已经被卡了五个月了 哭了
    </TimeLineElement>
    <TimeLineElement
      title="找对象"
      subtitle="From [不要顺德人] [最好四川重庆]"
    >从母胎单身到恋两年痛八年.
    张小姐，你不喜欢我为啥要接受我啊，我现在还在痛苦。
    </TimeLineElement>
    <TimeLineElement
      title="公司倒闭，找工作"
      subtitle="From [顺德] "
    >
       找新的工作
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">想买的东西</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> 智能汽车 (问界M7 30W)</a>
    </li>
    <li>
      <a href="#" target="_blank"> 耳机 (华为耳机)</a>
    </li>
  </ul>
</BaseLayout>
