---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">认识我</div>
  </div>

  <div class="mb-10 text-justify">
    01年出生的普普通通的人，在社会受气，受打击的地方苟且存活，这是他在期间创造个人围脖，本站由AChengLinux独立运营
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">个人规划</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="生存"
      subtitle="努力活下去，找到生活的意义"
    />
    <TimeLineElement
      title="买车"
      subtitle="15万的智能电车"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">目前的计划</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="安安全全驾驶"
      subtitle="From [佛山] "
    >
    心态要平，内心要稳定，情绪不要波动太大
    </TimeLineElement>
    <TimeLineElement
      title="找对象"
      subtitle="From [喜欢我的就可以了]"
    >从母胎单身到恋两年痛八年.
    </TimeLineElement>
    <TimeLineElement
      title="已经找到工作"
      subtitle="From [时不时去广州] "
    >
       努力工作，赚钱给自己好的物质
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">短时想买的东西</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> 手机 （4K-6K）</a>
    </li>
    <li>
      <a href="#" target="_blank"> 智能手表 （1K-3K）</a>
    </li>
    <li>
      <a href="#" target="_blank"> 耳机 (华为耳机1299)</a>
    </li>
  </ul>
</BaseLayout>
